<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NPOI" version="2.5.1" targetFramework="net472" />
  <package id="OpenMcdf" version="2.2.1.4" targetFramework="net472" />
  <package id="OpenMcdf.Extensions" version="2.2.1.4" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
</packages>